.outer-header-container{
    background-color: rgba(0,0,0,0.8);
    position: sticky;
    top: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10vh;
    z-index: 1;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 30px;
}
.header-left ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
}
.header-right ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
}
li{
    cursor: pointer;
}